@import url('https://fonts.cdnfonts.com/css/franklin-gothic');

body{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  /* display:table-cell; */
  overflow-x:hidden;
}

.Nav{
  background-image: linear-gradient(to right, red, orange, yellow, orange, red);
  font-family: "Audiowide", sans-serif;
  display: flex;
  position: relative;
  z-index: 5;
}

.interact{
  width: 85%;
  position: relative;
  top: 35px;
  display: flex;
  padding-right: 80px;
  height: max-content;
}
.interact i{
  font-size: 2em;
  display: block;
  text-align: center;
  
}
.interact div span{
  height: 6px;
}

.interact span{
  font-size:15px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  letter-spacing:1px;
}

.interact a{
  text-decoration: none;
  color: black;
}

.interact a:hover{
  color: white;
}

.interact .iconContainer{
  margin-left: 30px;
}

.interact div:hover{
  background-color: black;
  cursor: pointer;
}

.LoginForm,.SignUpForm{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.LoginForm input[type='submit'],.SignUpForm input[type='submit']{
  color: white;
  background: black;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.LContainer,.SContainer{
  width:50%;
  border: solid 2px gray;
  border-radius: 20px;
  box-shadow: red;
}

.Home{
  height: max-content;
  display: grid;
}

.HomeContent{
  font-family: "Audiowide", sans-serif;
  position: absolute; 
  top: 100px;
}

.play_btn,#Login_btn, #SignUp_btn{
  background-color: gold;
  border: none;
  color: Black;
  font-family:'Franklin Gothic', sans-serif; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 75px;
  margin: 4px 2px;
  margin-left: 25%;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 50%;
}

.play_btn{
  font-size: 60px;
  width: 70%;
  margin-left: 75%;
}

.btn_prnt,#Login_btn_prnt{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5px;
}

#SignUp_btn_prnt{
  text-align: center;
}

.play_btn:hover,#Login_btn:hover, #SignUp_btn:hover{
  background-color: darkgoldenrod;
}

#welcomeuser{
  position: absolute;
  right: 0;
  padding-top: 5px;
  font-size: 30px;
}

#welcomeuser:hover{
  background: none;
  cursor:text;
}

#bckgr{
  width:100%;
  /* height: 100%; */
}
@media screen and (min-width: 901px){
  #bckgr2{
    display: none;
  }
}
@media screen and (min-width: 801px){
  #bckgr3{
    display: none;
  }
}
@media screen and (min-width: 701px){
  #bckgr4{
    display: none;
  }
}
@media screen and (min-width: 1501px){
  #bckgr5{
    display: none;
  }
}
@media only screen and (max-width: 900px){
  #bckgr2{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px){
  #bckgr3{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px){
  #bckgr4{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 20px;
  }
}
@media screen and (max-width: 1500px){
  #bckgr5{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    font-size: 60px;
    width: 80%;
  }

}

@media only screen and (max-width: 620px){
  .interact{
    font-size: 12px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 585px){
  .interact{
    font-size: 12px;
    padding-left: 4px;
  }
  .interact .iconContainer{
    margin-left: 24px;
  }
}
@media only screen and (max-width: 520px){
  .Nav{
    font-size: 5px;
  }
  .interact{
    padding-left: 2px;
  }
  .interact .iconContainer{
    margin-left: 8px;
  }
}
@media screen and (max-width: 990px){
  #Login_btn, #SignUp_btn{
    font-size: 60px;
    width: 80%;
  }
  #Login_btn, #SignUp_btn{
    margin-top: 80px;
    margin-left: 0;
    padding-top: 20px;
    font-size: 60px;
  }
  .play_btn{
    margin-top: 0px;
    margin-left: 100px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 570px){
  #Login_btn, #SignUp_btn{
    margin-top: 80px;
    margin-left: 0;
    padding-top: 20px;
    font-size: 40px;
  }
  .interact{
    position: relative;
  }
 .interact, .interact span{
    font-size: 10px;
  }
  #welcomeuser{
    position: absolute;
    right: 0;
    bottom: 30px;
    font-size: 14px;
  }
  .interact .iconContainer{
    margin-right: 4px;
    position: relative;
    bottom: 20px;
  }
  .play_btn{
    margin-left: 20px;
    font-size: 40px;
  }
  #Logo{
    height: 60px;
  }
  #SignInIcon{
    width: max-content;
  }
  .LContainer,.SContainer{
    width: initial;
  }
}

.Footer{
  z-index: 5;
  position: relative;
  width: 100%;
  background-image: linear-gradient(to top, brown, rgb(168, 92, 0),orange,yellow);
}

.playercards{
  overflow-x: scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  display: flex;
  /* align-items: center; */
  max-width: 400px;
  height: 150px;
}::-webkit-scrollbar{
  display: none;
}

#cards0, #cards1, #cards2, #cards3{
  height: 110px;
  padding-bottom: 4px;
}

[id*="playernext"]{
  display: grid;
  place-items: center;
  width:50%;
}

.AllPlayers4 #playernext0, .AllPlayers3 #playernext0, .AllPlayers2 #playernext0{
  position: relative;
  top: 390px;
  text-align: center;
}

.AllPlayers4 #playernext1{
  transform: rotate(90deg);
  position: relative;
  right: 320px;
  top: 60px;
  flex-direction: column;
}

.AllPlayers4 #playernext1 .WhoCards{
  transform: rotate(270deg);
  position: relative;
  top: 180px;
}

.AllPlayers4 #playernext2{
  transform: rotate(180deg);
  position: relative;
  bottom: 260px;
}

.AllPlayers2 #playernext1{
  transform: rotate(180deg);
  position: relative;
  bottom: 100px;
}

.AllPlayers4 #playernext2 .WhoCards, .AllPlayers2 #playernext1 .WhoCards{
  transform: rotate(180deg);
  position: relative;
  /* top: 180px; */
}

.AllPlayers4 #playernext3{
  transform: rotate(270deg);
  position: relative;
  left: 320px;
  bottom: 200px;
  /* top: 60px; */
}

.AllPlayers4 #playernext3 .WhoCards{
  transform: rotate(90deg);
  position: relative;
  bottom: 50px;
}

.AllPlayers4, .AllPlayers3, .AllPlayers2{
  display: grid;
  place-items: center;
}

.AllPlayers3 #playernext1{
  transform: rotate(135deg);
  position: relative;
  right: 200px;
}

.AllPlayers3 #playernext1 .WhoCards{
  transform: rotate(225deg);
  position: relative;
  top: 190px;
}

.AllPlayers3 #playernext2{
  transform: rotate(225deg);
  position: relative;
  left: 200px;
  bottom: 130px;
}

.AllPlayers3 #playernext2 .WhoCards{
  transform: rotate(135deg);
  position: relative;
  top: 190px;
}

.DeckDrawBtn{
  margin-left: 20px;
}

.selectBtn{
  margin-left: 20px;
}


.AllPlayers3 .playerBtns{
  position: relative;
  bottom: 40px;
}

.AllPlayers4 .playerBtns{
  position: relative; 
  bottom: 175px;
}

.blankspace{
  height: 132px;
  width: 491px;
}

[id*="YourCards"], [id*="OtherUserCards"]{
  height: inherit;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 2px;
}

.trashpile{
  position: absolute;
  left: 50%;
}

.trashcard{
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  height: 110px;
  top: 248px;
  /* top: -38px; */
  right: 30px;
  /* display: none; */
}

.trashcard:nth-child(2){
  transform: rotate(20deg);
}
.trashcard:nth-child(3){
  transform: rotate(-20deg);
 
}

.DeckHolder{
 position: absolute;
 left: 50%;
}

.Deck{
  position: absolute;
  display: grid;
  place-items: center;
  width: max-content;
  top: 230px;
}

@media screen and (min-width: 650px){
  .trashpile{
    position: absolute;
  }
  
  .trashcard{
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    height: 110px;
    top: -38px;
    right: 30px;
    /* display: none; */
  }

  .Deck, .DeckHolder{
    top: initial;
    left: initial;
    margin-bottom: 113px;
  }
}

.DeckCard{
  height: 110px;
  border: 1px solid black;
  border-radius: 10px;
  
}

.trashcard:nth-child(0){
  z-index: 0;
}
.trashcard:nth-child(1){
  z-index: 1;
}
.trashcard:nth-child(2){
  z-index: 2;
}

.cover{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  /* display: grid; */
  place-items: center;
}

.colorbtn{
  width: 200px;
  display: inline;
  line-height: 100px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 30px;
}

.colorbtn:hover{
  cursor: pointer;
  transform: translateY(-2px);
}

#REDbtn,#YELLOWbtn{
  margin-right: 15px;
}

#REDbtn{
  background-color: Red;
  box-shadow: 0px 6px darkred;
  margin-left: 5px;
  margin-top: 2px;
}
#REDbtn:active{
  transform: translateY(4px);
  box-shadow: 0px 2px darkred;
}
#BLUEbtn{
  background-color: Blue;
  box-shadow: 0px 6px darkblue;
  margin-right: 5px;
}
#BLUEbtn:active{
  transform: translateY(4px);
  box-shadow: 0px 2px darkblue; 
}
#GREENbtn{
  background-color: Green;
  box-shadow: 0px 6px darkgreen;
  margin-bottom: 8px;
}
#GREENbtn:active{
  transform: translateY(4px);
  box-shadow: 0px 2px darkgreen; 
}
#YELLOWbtn{
  background-color: Yellow;
  box-shadow: 0px 6px rgb(194, 194, 1);
  margin-left: 5px;
}
#YELLOWbtn:active{
  transform: translateY(4px);
  box-shadow: 0px 2px rgb(194, 194, 1);
}

.btncontainer{
  /* border: solid black 5px; */
  width: max-content;
  height: max-content;
}

.GameInfo{
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic', sans-serif; 
  font-size: 30px;
  height: 100px;
}
.GameInfo::before{
  content: "\a";
  white-space: pre;
}

.UNObtnContainer{
  position: absolute;
  top: 18%;
  right: 30%;
}

.UNObtn, .Penaltybtn{
  position: absolute;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: red;
  box-shadow: 0px 6px darkred;
}
.UNObtn:enabled:active, .Penaltybtn:enabled:active{
  transform: translateY(4px);
  box-shadow: 0px 2px darkred;
}

.UNObtn:disabled{
  background-color: darkred;
  box-shadow: 0px 6px rgb(98, 2, 2);
  cursor:not-allowed;
}

.GameInfo{
  height: 100px;
}

.winner{
  position: absolute;
  width: 240px;
  font-family: 'Franklin Gothic', sans-serif;
  font-size: 50px;
  right: 10%;
  top: 15%
}