@import url('https://fonts.cdnfonts.com/css/franklin-gothic');

body{
  height: max-content;
  padding: 0;
  margin: 0;
}

.Nav{
  background-image: linear-gradient(to right, red, orange, yellow, orange, red);
  font-family: "Audiowide", sans-serif;
  display: flex;
}

.interact{
  width: 85%;
  position: relative;
  top: 35px;
  display: flex;
  padding-right: 80px;
  height: max-content;
}
.interact i{
  font-size: 2em;
  display: block;
  text-align: center;
  
}
.interact div span{
  height: 6px;
}

.interact span{
  font-size:15px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  letter-spacing:1px;
}

.interact a{
  text-decoration: none;
  color: black;
}

.interact a:hover{
  color: white;
}

.interact .iconContainer{
  margin-left: 30px;
}

.interact div:hover{
  background-color: black;
  cursor: pointer;
}

.LoginForm,.SignUpForm{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.LoginForm input[type='submit'],.SignUpForm input[type='submit']{
  color: white;
  background: black;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.LContainer,.SContainer{
  width:50%;
  border: solid 2px gray;
  border-radius: 20px;
  box-shadow: red;
}

.Home{
  height: max-content;
  display: grid;
  place-items: center;
}

.HomeContent{
  font-family: "Audiowide", sans-serif;
  position: absolute; 
  top: 100px;
}

#Login_btn, #SignUp_btn{
  background-color: gold;
  border: none;
  color: Black;
  font-family:'Franklin Gothic', sans-serif; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 75px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 50%;
}

#Login_btn_prnt{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5px;
}

#SignUp_btn_prnt{
  text-align: center;
}

#Login_btn:hover, #SignUp_btn:hover{
  background-color: darkgoldenrod;
}

#welcomeuser{
  position: absolute;
  right: 0;
  padding-top: 5px;
  font-size: 30px;
}

#bckgr{
  width:100%;
  /* height: 100%; */
}
@media screen and (min-width: 901px){
  #bckgr2{
    display: none;
  }
}
@media screen and (min-width: 801px){
  #bckgr3{
    display: none;
  }
}
@media screen and (min-width: 701px){
  #bckgr4{
    display: none;
  }
}
@media screen and (min-width: 1501px){
  #bckgr5{
    display: none;
  }
}
@media only screen and (max-width: 900px){
  #bckgr2{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px){
  #bckgr3{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 30px;
  }
}
@media only screen and (max-width: 700px){
  #bckgr4{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    width: max-content;
    font-size: 20px;
  }
}
@media screen and (max-width: 1500px){
  #bckgr5{
    display: visible;
    width: 100%;
  }
  #Login_btn, #SignUp_btn{
    font-size: 60px;
    width: 80%;
  }

}

@media only screen and (max-width: 620px){
  .Nav{
    font-size: 12px;
  }
}

.Footer{
  background-image: linear-gradient(to top, brown, rgb(168, 92, 0),orange)
}